//output:index.html
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Dynotopo Graphics
    meta(name="description", content="Affordable and professional 3D modelling")
    meta(name="author", content="Daniel Powała")
    meta(name="keywords", content="3d design, 3d graphics, 3d artist, 3d studio")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/favicon.png")

  body

    header.head-box
      .logo

    section.transition
      h1 2018
      
    section.content
      figure.work
        img(src="/images/finish.png")
        figcaption NES Controller
        
      figure.work
        img(src="/images/final5_pp.png")
        figcaption Corvette Stingray
        
    section.transition
      h1 2017
      
    section.content
      figure.work
        img(src="/images/untitled3.png")
        figcaption Alarm Clock
        
      figure.work
        img(src="/images/stock.png")
        figcaption Nuka-Cola Quantum
        
      figure.work
        img(src="/images/ak1.png")
        figcaption AK-47
        
      figure.work
        img(src="/images/finish_w_postfx.png")
        figcaption LEGO Mario
              


      

    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/functions.js")
